<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div>
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
      
      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
  <% end %>
  <div>
    <%= form.label :transaction_date %>
    <%= form.date_field :invoice_date %>
  </div>

  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div>
    <%= form.check_box :foreign_country %>
    <%= form.label :foreign_country %>
  </div>
  <%= form.submit %>
<% end %>
